<div class="row">
    <h3 class='text-center'>Hi there, we're just getting things set up for you</h3>
</div>
<h4 class='text-center block--padded'> Why don't you rate some artists for us? </h4>
<!-- These will be random-ish -->
<div class='row text-center'>
    <div class='small-12 medium-8 column medium-centered'>
        <div class='row artist-list__artist'>
        	<div class='small-12 medium-6 column medium-centered'>
            	<div class='small-8 column artist-list__artist-name'>Taylor Swift</div>
            	<button class='small-2 column'><i class='fa fa-thumbs-o-up fa-lg like-button'></i></button>
            	<button class='small-2 column'><i class='fa fa-thumbs-o-down fa-lg dislike-button'></i></button>
            </div>
        </div>
        <div class='row artist-list__artist'>
        	<div class='small-12 medium-6 column medium-centered'>
            	<div class='small-8 column artist-list__artist-name'>Kanye West</div>
            	<button class='small-2 column'><i class='fa fa-thumbs-up fa-lg like-button'></i></button>
            	<button class='small-2 column'><i class='fa fa-thumbs-o-down fa-lg dislike-button'></i></button>
            </div>
        </div>
        <div class='row artist-list__artist'>
        	<div class='small-12 medium-6 column medium-centered'>
            	<div class='small-8 column artist-list__artist-name'>Keith Urban</div>
            	<button class='small-2 column'><i class='fa fa-thumbs-o-up fa-lg like-button'></i></button>
            	<button class='small-2 column'><i class='fa fa-thumbs-down fa-lg dislike-button'></i></button>
            </div>
        </div>
        <div class='row artist-list__artist'>
        	<div class='small-12 medium-6 column medium-centered'>
            	<div class='small-8 column artist-list__artist-name'>Avicii</div>
            	<button class='small-2 column'><i class='fa fa-thumbs-up fa-lg like-button'></i></button>
            	<button class='small-2 column'><i class='fa fa-thumbs-o-down fa-lg dislike-button'></i></button>
            </div>
        </div>
        <div class='row artist-list__artist'>
        	<div class='small-12 medium-6 column medium-centered'>
            	<div class='small-8 column artist-list__artist-name'>AWOL Nation</div>
            	<button class='small-2 column'><i class='fa fa-thumbs-up fa-lg like-button'></i></button>
            	<button class='small-2 column'><i class='fa fa-thumbs-o-down fa-lg dislike-button'></i></button>
            </div>
        </div>
    </div>
</div>
<h4 class='text-center'> Here is your user code, make sure you to hold on to it</h4>
<div class='row text-center'>
  <div class='medium-6 small-centered column user-code'>
  	<span class='user-code__box'> <span class='user-code__code'>AJRTX</span> </span>
  </div>
</div>
<div class='row text-center'>
    <button class='button success'>Join Room</button>
</div>
