<div ng-controller="StartCtrl">
    <div class="row">
        <h3 class='text-center'>Hi there, we're just getting things set up for you</h3>
    </div>
    <h4 class='text-center block--padded'> Why don't you rate some artists for us? </h4>
    <!-- These will be random-ish -->
    <!-- Store these until they click join room, then send them to the server -->
    <div class='row text-center'>
        <div class='small-12 medium-8 column medium-centered'>
            <!-- Repeat this for each artist we get (usually 5) -->
            <div ng-repeat="artist in selected_artists">
                <div class='row artist-list__artist'>
                    <div class='small-12 medium-6 column medium-centered'>
                        <div class='small-8 column artist-list__artist-name'>{{ artist.name }}</div>
                        <button class='small-2 column like-button' ng-click='artist = likeArtist(artist)'>
                            <!-- Hide whichever is inactive -->
                            <i class='fa fa-thumbs-o-up fa-lg' ng-hide='artist.score === 1'></i>
                            <i class='fa fa-thumbs-up fa-lg' ng-show='artist.score === 1'></i>
                        </button>
                        <button class='small-2 column like-button' ng-click='artist = dislikeArtist(artist)'>
                            <!-- Hide whichever is inactive -->
                            <i class='fa fa-thumbs-o-down fa-lg' ng-hide='artist.score === -1'></i>
                            <i class='fa fa-thumbs-down fa-lg' ng-show='artist.score === -1'></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- END Repeat -->
        </div>
    </div>
    <!-- Hide this part until we get a response from the server -->
    <div ng-show='user'>
        <h4 class='text-center'> Here is your user code, make sure you to hold on to it</h4>
        <div class='row text-center'>
            <div class='medium-6 small-centered column user-code'>
                <span class='user-code__box'> <span class='user-code__code'>{{ user.name }}</span> </span>
            </div>
        </div>
        <!-- Sends liked artists to the server and routes the user to music/<USERID> -->
        <div class='row text-center'>
            <a ng-click='continue()' class='button success'>Join Room</a>
        </div>
    </div>
    <div ng-hide='user' class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!-- END Hide -->
