<div class='row text-center'>
  <div class='medium-6 small-centered column user-code'>
  	<span class='user-code__box'> <span class='user-code__code'>AJRTX</span> </span>
  </div>
</div>
<div class='row text-center'>
	<h5>22</h5>
	<h5>Taylor Swift - 1989</h5>
</div>
<div class='row'>
	<div class='small-10 medium-6 column small-centered'>
		<img src="http://s.newsweek.com/sites/www.newsweek.com/files/2014/10/26/image-1989.png" alt="">
	</div>
</div>
<div class='row music-control'>
	<div class='small-12 medium-6 column small-centered text-center'>
		<button class='small-3 column'>
			<i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
		</button>
		<button class='small-3 column'>
			<i class="fa fa-pause fa-3x" aria-hidden="true"></i>
		</button>
		<button class='small-3 column'>
			<i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
		</button>
		<button class='small-3 column'>
			<i class="fa fa-thumbs-o-down fa-3x" aria-hidden="true"></i>
		</button>
	</div>
</div>