<div>
<div class='row text-center'>
  <div class='medium-6 small-centered column user-code'>
  	<!-- You should already have this -->
	<span class='user-code__box'> <span class='user-code__code'>{{ userid }}</span> </span>
  </div>
</div>
<div class='row text-center'>
	<!-- Song -->
	<span class='music-info music-info__track'>{{ current_song.name }}</span>
	<!-- Artist - Album -->
	<span class='music-info music-info__artist'>{{ current_song.artist}}</span> - <span class='music-info music-info__album'>{{current_song.album.name}}</span>
</div>
<div class='row'>
	<div class='small-10 medium-6 column small-centered'>
		<img ng-src= "{{ current_song.album.art }}" alt="">
	</div>
</div>
<div class='row'>
	<div class='small-10 medium-6 column small-centered'>
		<input class='progress__bar' type='range' ng-model='sound.progress' min='0' max='1' step='0.01' >
	</div>
</div>
<div class='row music-control'>
	<div class='small-12 medium-6 column small-centered text-center'>
		<!-- Send Song rating to server -->
		<button class='small-3 column music-control__button' ng-click='like()'>
			<!-- use whichever corresponds to current rating you have -->
			<i class="fa fa-thumbs-o-up fa-3x" ng-hide='user.taste[current_song.id] === 1' aria-hidden="true"></i>
			<i class="fa fa-thumbs-up fa-3x" ng-show='user.taste[current_song.id] === 1' aria-hidden="true"></i>
		</button>
		<!-- Pause music -->
		<button class='small-3 column music-control__button' ng-click = 'playPause()'>
			<!-- hide one when the other is in use -->
			<i class="fa fa-pause fa-3x" ng-show='playing' aria-hidden="true"></i>
			<i class="fa fa-play fa-3x" ng-hide='playing' aria-hidden="true"></i>
		</button>
		<!-- get next song from server -->
		<button class='small-3 column music-control__button' ng-click= 'nextSong()'>
			<i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
		</button>
		<!-- Send Song Rating to Server -->
		<button class='small-3 column music-control__button' ng-click='dislike()'>
			<!-- use whichever corresponds to current rating you have -->
			<i class="fa fa-thumbs-o-down fa-3x" ng-hide='user.taste[current_song.id] === -1' aria-hidden="true"></i>
			<i class="fa fa-thumbs-down fa-3x" ng-show='user.taste[current_song.id] === -1'aria-hidden="true"></i>
		</button>
	</div>
</div>
