<div class="row">
  <h1 class='text-center'>Welcome to <div class='logo--big'>Songregate</div></h1>
</div>
<div class='row text-center block--padded'>
  <h3 class='text-center'> New User? </h3>
  <!-- routes to getting-started -->
  <a href='#/getting-started'class='button'>Register</a>
</div>
<div class='row text-center block--padded'>
  <div class='medium-6 small-centered column'>
    <h3 class='text-center'> Returning User? </h3>
    <!-- grab user id from server then route to music/<USERID> -->
    <input class='sign-in__textbox small-centered' type="text" ng-model='user_code'>
  </div>
</div>
<div class='row text-center'>
  <a ng-href='#/music/{{user_code}}' class='button success'>Rejoin Room</a>
</div>